__pycache__/
.DS_Store
LAB2/orig/N06_064643_1114_XN_68S358W.IMG
LAB2/orig/B09_013297_1984_XN_18N074W.IMG
LAB5/LAB5_Materials.zip
Class_Demos/QGIS_mapprojection/s256_s030.jp2
Class_Demos/DSK/phobos_quad512q.tab
