__pycache__/
.DS_Store
LAB2/orig/N06_064643_1114_XN_68S358W.IMG
LAB2/orig/B09_013297_1984_XN_18N074W.IMG
LAB4/LAB4_Materials.zip
SuPy.log
LAB4/LAB4_Materials.zip
Class_Demos/QGIS_mapprojection/HiRISE_observations_ographic.dbf
Class_Demos/QGIS_mapprojection/HiRISE_observations_ographic.prj
Class_Demos/QGIS_mapprojection/HiRISE_observations_ographic.qix
Class_Demos/QGIS_mapprojection/HiRISE_observations_ographic.shp
Class_Demos/QGIS_mapprojection/HiRISE_observations_ographic.shx
Class_Demos/QGIS_mapprojection/s256_s030.jp2
Class_Demos/DSK/phobos_quad512q.tab
Class_Demos/DSK/movie_phobos.mp4
Class_Demos/Rachmaninoff/MLA_SCIRDRV2_20N35N_45E70E_20241009T230700643_pts_csv.dbf
Class_Demos/Rachmaninoff/zz.dbf
LAB4/LAB4_Materials.zip
